.contenedorDetail {
    display: flex;
    flex-direction: column
}
.detalle {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    margin: 1% 38%;
    background-color: rgba(255, 228, 196, 0.800);
    border-radius: 25px;
}

h2 {
    margin: 2px;
}

h3 {
    margin: 4px;
    text-decoration: none;
}

h4 {
    margin: 4px;
}

h5 {
    margin: 4px;
}

p {
    margin: 4px;
}

.imagen {
    width: auto;
    height: auto;
}

.botonVolverDetail {
    background-color: rgba(255, 228, 196);
    border-radius: 20px;
    border: 3px solid rgb(236, 162, 65,  0.726);
    padding: 4px 3px;

}

.botonVolverDetail:hover {
    background-color: rgba(236, 162, 65, 0.726)
}

.contenedorcargandopais {
    display: flex;
    justify-content: center;
}

.cargandopais {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    width: 200px;
    background-color: rgba(255, 228, 196, 0.726);
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.textocargandopais {
    border-radius: 10px;
    font-weight: 500;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid rgb(236, 162, 65,  0.726);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(236, 162, 65,  0.726) transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media (max-width: 480px){
    .detalle {
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 20px;
        background-color: rgba(255, 228, 196, 0.800);
        border-radius: 25px;
    }
}

@media (max-width: 900px){
    .detalle {
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 20px;
        background-color: rgba(255, 228, 196, 0.800);
        border-radius: 25px;
        }
}