.contenedor {
    padding: 0px 50px;
}

.cartas {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px 30px;
    justify-items: center;
    margin: 20px;
}

@media (min-width: 480px) {
    .cartas {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 820px) {
    .cartas {
        grid-template-columns: repeat(4, 1fr);
    }
}

.carta {
    background-color: rgba(255, 228, 196, 0.726);
    border-radius: 25px;
    padding: 15px;
    max-width: 255px;
    min-width: 255px;
    max-height: 280px;
    min-height: 280px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carta:hover {
    background-color: rgba(236, 162, 65, 0.726);
    /* background-color: rgba(133, 133, 133, 0.508); */
}

.botonVolver {
    background-color: rgba(255, 228, 196, 0.726);
    border-radius: 20px;
    border-color: black;
    border-width: 1px;

}

.botonVolver:hover {
    background-color: rgba(236, 162, 65, 0.726)
}

.botonCrearActividad {
    background-color: rgba(255, 228, 196, 0.726);
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
}

.botonCrearActividad:hover {
    background-color: rgba(236, 162, 65, 0.726)
}

.botonLimpiar {
    background-color: rgba(255, 228, 196, 0.726);
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
}

.botonLimpiar:hover {
    background-color: rgba(236, 162, 65, 0.726)
}